# Example environment variables for FlairTimerModMail
USERNAME=your_reddit_username
PASSWORD=your_reddit_password
CLIENT_ID=your_reddit_client_id
CLIENT_SECRET=your_reddit_client_secret
USER_AGENT=Flair Timer Mod Mail Bot
SUBREDDIT=your_subreddit
FLAIR_TEXT=Waiting for OP
INTERVAL=30
HOURS=48
MESSAGETITLE=Modmail Notification
SEARCHLIMIT=600
